@model SchoolLibrary.BusinessModels.Models.AuthorBusinessModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
</fieldset>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    
    @Html.ActionLink("Back to List", "Index")
</p>
