@model SchoolLibrary.BusinessModels.Models.InventoryBusinessModel

@{
    ViewBag.Title = "Inventory details";
}
<style type="text/css">.display-label { font-weight: bold }</style>

<h2>Inventory details</h2>

<fieldset>
    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAvailable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAvailable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WriteOffDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WriteOffDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InventoryId }) |
    @Html.ActionLink("Back to List", "Index", new { id=Model.ItemId })
</p>
