@model SchoolLibrary.BusinessModels.MVCModels.BookAuthorModel

@{
    ViewBag.Title = "Delete";
}
<style type="text/css">.display-label { font-weight: bold }</style>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookName)
    </div>

    
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}